language: minimal

services:
  - docker

before_script:
  - docker pull ahlaw/polynote || true

script:
  - docker build --pull --cache-from ahlaw/polynote -t ahlaw/polynote .
  - docker run -d -p 8192:8192 ahlaw/polynote

after_script:
  - docker images
