language: minimal

services:
  - docker

install:
  - docker build -t ahlaw/polynote .
  - docker run -d -p 8192:8192 ahlaw/polynote

after_script:
  - docker images

before_deploy:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

deploy:
  provider: script
  script: docker push ahlaw/polynote
  on:
    branch: master
