language: minimal

services:
  - docker

before_script:
  - docker pull ahlaw/polynote || true

script:
  - bash scripts/build.sh
  - docker run -d -p 8192:8192 ahlaw/polynote

after_script:
  - docker images
